## Settings file was created by plugin FurnitureLock v1.3.9
## Plugin GUID: mattymatty.FurnitureLock

[Bunkbeds]

## default position of the Furniture piece.
# Setting type: String
# Default value: default
position = -2.146741, 2.043573, -19.75449

## default rotation of the Furniture piece.
# Setting type: String
# Default value: default
rotation = 270, 88.31158, 0

## if true the furniture piece will not be movable
# Setting type: Boolean
# Default value: false
locked = false

## if true the furniture piece will be stored immediately upon spawn
# Setting type: Boolean
# Default value: false
spawn_stored = false

[Cupboard]

## default position of the Furniture piece.
# Setting type: String
# Default value: default
position = 10.60256, 6.631432, -15.16597

## default rotation of the Furniture piece.
# Setting type: String
# Default value: default
rotation = 270, 90.16382, 0

## if true the furniture piece will not be movable
# Setting type: Boolean
# Default value: false
locked = false

## if true the furniture piece will be stored immediately upon spawn
# Setting type: Boolean
# Default value: false
spawn_stored = false

[Disco Ball]

## default position of the Furniture piece.
# Setting type: String
# Default value: default
position = default

## default rotation of the Furniture piece.
# Setting type: String
# Default value: default
rotation = default

## if true the furniture piece will not be movable
# Setting type: Boolean
# Default value: false
locked = false

## if true the furniture piece will be stored immediately upon spawn
# Setting type: Boolean
# Default value: false
spawn_stored = false

[File Cabinet]

## default position of the Furniture piece.
# Setting type: String
# Default value: default
position = 10.62354, 1.085105, -12.09112

## default rotation of the Furniture piece.
# Setting type: String
# Default value: default
rotation = 270, 89.36121, 0

## if true the furniture piece will not be movable
# Setting type: Boolean
# Default value: false
locked = false

## if true the furniture piece will be stored immediately upon spawn
# Setting type: Boolean
# Default value: false
spawn_stored = false

[Goldfish]

## default position of the Furniture piece.
# Setting type: String
# Default value: default
position = default

## default rotation of the Furniture piece.
# Setting type: String
# Default value: default
rotation = default

## if true the furniture piece will not be movable
# Setting type: Boolean
# Default value: false
locked = false

## if true the furniture piece will be stored immediately upon spawn
# Setting type: Boolean
# Default value: false
spawn_stored = false

[Inverse Teleporter]

## default position of the Furniture piece.
# Setting type: String
# Default value: default
position = 9.688202, 2.125328, -8.930197

## default rotation of the Furniture piece.
# Setting type: String
# Default value: default
rotation = 270, 356.562, 0

## if true the furniture piece will not be movable
# Setting type: Boolean
# Default value: false
locked = false

## if true the furniture piece will be stored immediately upon spawn
# Setting type: Boolean
# Default value: false
spawn_stored = false

[JackOLantern]

## default position of the Furniture piece.
# Setting type: String
# Default value: default
position = 10.39283, 2.341678, -11.59312

## default rotation of the Furniture piece.
# Setting type: String
# Default value: default
rotation = 270, 143.1992, 0

## if true the furniture piece will not be movable
# Setting type: Boolean
# Default value: false
locked = false

## if true the furniture piece will be stored immediately upon spawn
# Setting type: Boolean
# Default value: false
spawn_stored = false

[Light switch]

## default position of the Furniture piece.
# Setting type: String
# Default value: default
position = 2.264999, 1.69561, -11.736

## default rotation of the Furniture piece.
# Setting type: String
# Default value: default
rotation = 270, 180, 0

## if true the furniture piece will not be movable
# Setting type: Boolean
# Default value: false
locked = false

[Loud horn]

## default position of the Furniture piece.
# Setting type: String
# Default value: default
position = 10.52809, 1.524711, -11.05438

## default rotation of the Furniture piece.
# Setting type: String
# Default value: default
rotation = 270, 88.63462, 0

## if true the furniture piece will not be movable
# Setting type: Boolean
# Default value: false
locked = false

## if true the furniture piece will be stored immediately upon spawn
# Setting type: Boolean
# Default value: false
spawn_stored = false

[Plushie pajama man]

## default position of the Furniture piece.
# Setting type: String
# Default value: default
position = default

## default rotation of the Furniture piece.
# Setting type: String
# Default value: default
rotation = default

## if true the furniture piece will not be movable
# Setting type: Boolean
# Default value: false
locked = false

## if true the furniture piece will be stored immediately upon spawn
# Setting type: Boolean
# Default value: false
spawn_stored = false

[Record player]

## default position of the Furniture piece.
# Setting type: String
# Default value: default
position = 1.187912, 5.906326, -12.45796

## default rotation of the Furniture piece.
# Setting type: String
# Default value: default
rotation = 271.6488, 219.0097, 90.00036

## if true the furniture piece will not be movable
# Setting type: Boolean
# Default value: false
locked = false

## if true the furniture piece will be stored immediately upon spawn
# Setting type: Boolean
# Default value: false
spawn_stored = false

[Romantic table]

## default position of the Furniture piece.
# Setting type: String
# Default value: default
position = default

## default rotation of the Furniture piece.
# Setting type: String
# Default value: default
rotation = default

## if true the furniture piece will not be movable
# Setting type: Boolean
# Default value: false
locked = false

## if true the furniture piece will be stored immediately upon spawn
# Setting type: Boolean
# Default value: false
spawn_stored = false

[Shower]

## default position of the Furniture piece.
# Setting type: String
# Default value: default
position = 8.491011, 1.865225, -19.0103

## default rotation of the Furniture piece.
# Setting type: String
# Default value: default
rotation = 270, 180.9335, 0

## if true the furniture piece will not be movable
# Setting type: Boolean
# Default value: false
locked = false

## if true the furniture piece will be stored immediately upon spawn
# Setting type: Boolean
# Default value: false
spawn_stored = false

[Shutter Switch]

## default position of the Furniture piece.
# Setting type: String
# Default value: default
position = 2.548735, 1.70818, -11.77522

## default rotation of the Furniture piece.
# Setting type: String
# Default value: default
rotation = -7.01671E-15, 5.008956E-06, -7.01671E-15

## if true the furniture piece will not be movable
# Setting type: Boolean
# Default value: false
locked = false

[Signal translator]

## default position of the Furniture piece.
# Setting type: String
# Default value: default
position = 9.924708, 0.4185111, -14.5031

## default rotation of the Furniture piece.
# Setting type: String
# Default value: default
rotation = 270, 0, 0

## if true the furniture piece will not be movable
# Setting type: Boolean
# Default value: false
locked = false

## if true the furniture piece will be stored immediately upon spawn
# Setting type: Boolean
# Default value: false
spawn_stored = false

[Table]

## default position of the Furniture piece.
# Setting type: String
# Default value: default
position = default

## default rotation of the Furniture piece.
# Setting type: String
# Default value: default
rotation = default

## if true the furniture piece will not be movable
# Setting type: Boolean
# Default value: false
locked = false

## if true the furniture piece will be stored immediately upon spawn
# Setting type: Boolean
# Default value: false
spawn_stored = false

[Teleporter]

## default position of the Furniture piece.
# Setting type: String
# Default value: default
position = 7.39553, 2.131363, -8.842785

## default rotation of the Furniture piece.
# Setting type: String
# Default value: default
rotation = 270, 163.496, 0

## if true the furniture piece will not be movable
# Setting type: Boolean
# Default value: false
locked = false

## if true the furniture piece will be stored immediately upon spawn
# Setting type: Boolean
# Default value: false
spawn_stored = false

[Television]

## default position of the Furniture piece.
# Setting type: String
# Default value: default
position = default

## default rotation of the Furniture piece.
# Setting type: String
# Default value: default
rotation = default

## if true the furniture piece will not be movable
# Setting type: Boolean
# Default value: false
locked = false

## if true the furniture piece will be stored immediately upon spawn
# Setting type: Boolean
# Default value: false
spawn_stored = false

[Terminal]

## default position of the Furniture piece.
# Setting type: String
# Default value: default
position = 8.500546, 1.933939, -17.00966

## default rotation of the Furniture piece.
# Setting type: String
# Default value: default
rotation = 270, 90, 0

## if true the furniture piece will not be movable
# Setting type: Boolean
# Default value: false
locked = false

[Toilet]

## default position of the Furniture piece.
# Setting type: String
# Default value: default
position = default

## default rotation of the Furniture piece.
# Setting type: String
# Default value: default
rotation = default

## if true the furniture piece will not be movable
# Setting type: Boolean
# Default value: false
locked = false

## if true the furniture piece will be stored immediately upon spawn
# Setting type: Boolean
# Default value: false
spawn_stored = false

[Welcome mat]

## default position of the Furniture piece.
# Setting type: String
# Default value: default
position = default

## default rotation of the Furniture piece.
# Setting type: String
# Default value: default
rotation = default

## if true the furniture piece will not be movable
# Setting type: Boolean
# Default value: false
locked = false

## if true the furniture piece will be stored immediately upon spawn
# Setting type: Boolean
# Default value: false
spawn_stored = false

